body#landing {
    margin: 0;
    padding: 0 0 80px 0;
    border: 0;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

#landing p {
    color: #4A4A4A;
    text-align: left;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;

    margin-bottom: 60px;
}

#landing h1 {
    position: relative;
    font-size: 28px;
    z-index: 300;
    background-color: #8EC6BA;
    margin: 0;
    padding: 23px 0;
}

#landing .container {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
}

#landing .container.large {
    max-width: 800px;
}

#landing section {
    padding: 20px;
}

#landing section.banner {
    background-color: #8EC6BA;
    margin: 80px 0 30px 0;
    color: #FFFFFF;
    padding: 20px;
}

#landing section.banner .container {
    max-width: 300px;
}

body {
    margin: 0;
    padding: 0 0 80px 0;
    border: 0;
    background-color: #EEEEEE;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
header {
    box-sizing: border-box;
    text-align: left;
    color: #FFFFFF;
    padding: 0 20px;
    background-color: #8EC6BA;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    z-index: 200;
}

.float-right {
    float: right;
}

a {
    color: inherit;
    text-decoration: none;
    margin: 0 30px;
}

a.button-wrap {
    display: inline-block;
    margin: 0;
    padding: 0;
}

a.selected {
    opacity: 0.6;
}

a.selected:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header a {
    font-size: 16px;
    display: inline-block;
    padding: 18px 20px 17px 20px;
    margin: 0;
}

.centered {
    text-align: center;
}

.prompt {
    box-sizing: border-box;
    width: 100%;
    max-width: 680px;

    margin: 80px auto 0 auto;

    padding: 12px 20px 13px 20px;
    background-color: #8CADDC;
    color: #FFFFFF;
}

h2 {
    font-weight: 300;
    font-size: 24px;

    margin: 0;
    padding: 0;
}

textarea#title {
    box-sizing: border-box;
    margin: 10px auto;
    padding: 17px 20px;
    width: 100%;
    max-width: 680px;
    height: 54px;
    text-align: left;

    display: block;

    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #4A4A4A;

    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea#story {
    margin: 0px auto 10px auto;
    padding: 0px 20px 30px 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 680px;
    min-height: 300px;
    text-align: left;

    display: block;

    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #4A4A4A;

    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea#name {
    box-sizing: border-box;
    margin: 10px auto;
    padding: 18px 20px;
    width: 100%;
    max-width: 680px;
    height: 54px;
    text-align: left;

    display: block;

    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #4A4A4A;

    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button#submit {
    box-sizing: border-box;
    width: 100%;
    max-width: 680px;
    background-color: #8EC6BA;
    padding: 12px 20px 13px 20px;

    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;

    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button#submit:hover {
    background-color: #78A89E;
}

button.inline-blue {
    box-sizing: border-box;
    width: 280px;
    background-color: #8CADDC;
    padding: 18px 20px 19px 20px;

    margin: 10px 20px;

    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;

    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    vertical-align: top;
}

button#uploadImage {
    width: 200px;
    margin: 0;
    font-size: 14px;
    padding: 19px 20px;
}

button.inline-blue:hover {
    background-color: #7793BB;
}

.input-overlay {
    box-sizing: border-box;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    padding: 20px 20px 0px 20px;
}

.fileinput {
    position: absolute;
    z-index: 10;
    height: 20px;
    top: 36px;
    left: 25px;
}

.filename {
    box-sizing: border-box;
    width: 440px;
    background-color: #efefef;
    padding: 18px 20px;
    display: inline-block;

    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #4A4A4A;
    text-align: left;

    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;


    vertical-align: top;
}

.all-stories {
    margin-top: 80px;
}

.story {
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    max-width: 680px;
    background-color: #FFFFFF;
    padding: 30px 20px;
    margin: 30px auto;

    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #4A4A4A;
}

.story img {
    max-width: 100%;
    margin: 0 auto;
}

.story h3 {
    font-weight: 400;
    margin-top: 0px;
}

.story .name {
    text-align: right;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #777777;
    margin: 10px 0;
}

#uploaded-image {
    box-sizing: border-box;
    width: 100%;
    max-width: 680px;
    margin: 0px auto;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
}

#uploaded-image img {
    max-width: 100%;
}

#delete-image {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3px 8px;
}

#delete-image:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1040px) {
    #landing h1 {
        position: static;
    }
}

@media only screen and (max-width: 680px) {

    .filename {
        width: 100%;
        margin-bottom: 0px;
        display: block;
    }

    button#uploadImage {
        width: 100%;
        margin-top: 0px;
        display: block;
    }

    #landing h1 {
        font-size: 24px;
    }
    #landing p {
        font-size: 18px;
        letter-spacing: 1.2px;
        line-height: 24px;
    }

}

@media only screen and (max-width: 380px) {
    textarea#name, textarea#title {
        height: 80px;
    }

    button.inline-blue {
        margin: 10px 0px;
    }
}