body {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}
div.index a:hover{
  color: #C4503D;
  text-decoration: underline;
}

div{
  text-align: center;
  padding: 60px 0px;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  color: #EEEEEE;
  letter-spacing: 1px;
  background-color: #C45F5F;
}

div.index{
  color: #5a5a5a;
  background-color: #FFFFFF;
}

body.mobile{
  max-width: 320px;
  border: 2px solid #c4c4c4;
  margin: 0 auto;
}

div.index{
  text-align:left;
  padding: 40px 80px;
}

@media only screen and (max-width: 500px){
  div.index{
    text-align:left;
    padding: 40px 20px;
  }
}